@use '../sass/abstracts/mixin';

.container{
    //background-color: teal;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    @include mixin.breakpoint(tablet){
        width: 90%;
        margin: 0 auto;

    }
    @include mixin.breakpoint(laptop){
    width: 960px;
    }
    @include mixin.breakpoint(desktop){
        width: 1140px;
        }
}