@use '../abstracts/vars';
@use '../abstracts/mixin';

html.body,h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    font: inherit;
}

*{
    box-sizing: border-box;
}

body{
    //background-color:vars.$SUorange;
    //color: vars.$SUblue;
    font-family:vars.$font_primary;
    @include mixin.breakpoint(sm){
        //background-color: yellow;
    }
    @include mixin.breakpoint(md){
        //background-color:red;
    }
}

